.sticky{
    z-index: 5;
}

.navbar{
    background-color: black;
    background: rgba(0, 0, 0, 1.0);
    border-color: black;
    position: fixed;
    width: 100%;

}

.navitem{
    
    color: black;
}

.navbar-inverse .navbar-brand{
    color: rgb(200, 200, 200);
}
.navbar-inverse .navbar-nav > li > a{
    color: rgb(200, 200, 200);
}

.ml-auto{
    margin-right: 20%
}

body{
    padding-top: 0
}

/* .background{
    background-image: url("../../images/background.png");
    width: 100%;
    height: 100%;  
  } */
